body, button, input, select, textarea, h1, h2, h3, h4, h5, h6 {
	font-family:'Microsoft Yahei', arial,'Hiragino Sans GB',宋体,sans-serif;
	font-weight: 100;
	font-size: 24px;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body, figure, p{
	margin: 0;
}
html, body, article, section, figure, figure>.img{
	height: 100%;
}
a {
	text-decoration: none;
}
button,a {
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
ul {
	padding: 0;
}
li {
	list-style: none;
}
body {
	background: #f7f7f7;
}
article {
	position: relative;
	margin: auto;
	width: 640px;
}
.hidden {
	overflow: hidden;
}
#music-btn {
	position: absolute;
	top: 50px;
	right: 50px;
	opacity: .8;
	z-index: 111;
}
.arrow {
	background: url(/images/arrow-up.png) no-repeat;
	position: absolute;
	width: 62px;
	height: 29px;
	z-index: 100;
}
.arrow.top {
	margin: 0 auto;
	left: 280px;
	bottom: 20px;
	-webkit-animation: 1s .1s arrow ease-in infinite alternate;
	animation: 1s .1s arrow ease-in infinite alternate;
}
@keyframes arrow {
	0% {
		transform: translate3d(0,0,0);
	}
	50% {
		transform: translate3d(0,5px,0);
	}
	100% {
		transform: translate3d(0,-5px,0);
	}
}
@-webkit-keyframes arrow {
	0% {
		transform: translate3d(0,0,0);
	}
	50% {
		transform: translate3d(0,5px,0);
	}
	100% {
		transform: translate3d(0,-5px,0);
	}
}
