body {
    background: #000
}

#wrap {
    margin: auto;
}

.wrap-main {
    position: relative;
}

.wrap-main img {
    width: 100%;
}

.lay-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    -webkit-transition-duration: 600ms;
    -webkit-transform-origin: top center;
    overflow: hidden;
}

.lay-slide-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.lay-slide-cont {
    margin: auto;
    position: relative;
    -webkit-transition-duration: 600ms;
    display: none;
}

.icon {
    position: absolute;
    z-index: 1;
}

.feedback_bg,
.feedback_adv,
.feedback_dis,
.feedback_info,
.feedback_msg {
    position: absolute;
    overflow: hidden;
}

.feedback_bg {
    width: 76.67%;
}

.feedback_adv {
    width: 22.27%;
}

.feedback_dis {
    width: 67.33%;
    line-height: 20px;
    font-size: 13px;
    color: #868686;
    text-decoration: underline;
    text-align: justify;
}

.feedback_info {
    padding: 10px;
    padding-top: 0;
    width: 67.33%;
    font-size: 13px;
    -webkit-box-sizing: border-box;
    z-index: 999;
}

.feed_bd {
    float: left;
    width: 80%;
}

.feedback_info_name,
.feedback_info_status,
.feedback_info_num {
    position: relative;
    padding-top: 10px;
    padding-bottom: 6px;
    overflow: hidden;
}

.wline {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #c9c9c9;
}

.feedback_info_name {}

.feedback_info_name em {
    color: #666;
}

.feedback_info_name input {
    float: right;
    width: 45%;
    text-align: right;
    border: 0;
    background: transparent;
    text-align: center;
}

.feedback_info_status {}

.feedback_info_status em {
    color: #666;
}

.feedback_info_num {}

.feedback_info_num em {
    color: #666;
}

.feedstatus {
    float: right;
    color: #868686;
    width: 45%;
    text-align: center;
}

#playBtn {
    display: none;
    position: fixed;
    top: 15px;
    right: 15px;
    width: 36px;
    opacity: .6;
    z-index: 99999;
}

#playBtn img {
    width: 100%;
}

.playing {
    -webkit-animation: rotate 2s linear infinite;
    -webkit-animation-play-state: paused
}

.rotate {
    -webkit-animation-play-state: running;
}

.status_more,
.num_more {
    float: right;
    width: 18px;
    height: 18px;
    background: #666;
    border-radius: 30px;
}

.feedback_msg {
    width: 67.33%;
    z-index: 999
}

.feedback_msg h3 {
    padding: 0 10px;
    color: #666;
}

.feedback_msg_txt {
    padding: 10px;
    margin-top: 8px;
    background: #fbf8f0;
}

#msg_textarea {
    width: 100%;
    height: 36px;
    line-height: 18px;
    border: 0;
    background: transparent;
    color: #333;
}

.ajaxBtn {
    margin-top: 10px;
    overflow: hidden;
}

.ajaxBtn a {
    width: 46%;
    padding: 8px 0;
    text-align: center;
    background: #ddd;
    color: #fff;
}

.ajaxBtn a:nth-child(1) {
    float: left;
}

.ajaxBtn a:nth-child(2) {
    float: right;
}

.loadmore-loading {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    display: inline-block;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    -webkit-animation: rotate .75s linear infinite;
    z-index: 999;
}

.loadmore-loading div {
    position: absolute;
    top: -3px;
    left: -3px;
    width: 100%;
    height: 100%;
    border: 3px solid #ff705e;
    border-radius: 50%;
    border-top-color: transparent;
    vertical-align: middle;
    opacity: .8
}

.loadmore-loading p {
    display: none;
    position: absolute;
    top: -3px;
    left: -3px;
    width: 100%;
    height: 100%;
    border: 3px solid #ff705e;
    border-radius: 50%;
    vertical-align: middle;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
}

@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.arrow-icon {
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -20px;
    width: 40px;
    text-align: center;
    display: none;
    z-index: 999;
    -webkit-animation-name: arrowing;
    -webkit-animation-duration: 1.6s;
    -webkit-animation-iteration-count: infinite
}

.arrow-icon img {
    width: 40px
}

@-webkit-keyframes arrowing {
    0% {
        -webkit-transform: translateY(-5px);
        opacity: .8
    }
    50% {
        -webkit-transform: translateY(10px);
        opacity: 1
    }
    100% {
        -webkit-transform: translateY(-5px);
        opacity: .8
    }
}

.statusbtn {
    display: inline-block;
    margin: auto 8px;
    font-size: 18px;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    color: #666;
    border: 1px solid #666;
    background: #fff;
    text-align: center;
    line-height: 65px;
}

.numbtn {
    display: inline-block;
    margin: auto 8px;
    font-size: 18px;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    color: #666;
    border: 1px solid #666;
    background: #fff;
    text-align: center;
    line-height: 65px;
}

.statusbtn.ept,
.numbtn.ept {
    color: #ff705e;
    border-color: #ff705e;
}

.appdown i {
    padding-left: 28px;
    position: relative;
}

.appdown i:before {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    content: '';
    width: 22px;
    height: 22px;
    background: url(http://qnm.hunliji.com/o_1akl2o4dr162vl25hnv1qce1tt47.png) no-repeat;
    background-size: 100% 100%;
}
